#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --primary-color: #1677ff;
}

.container {
  width: 100%;
}

.timeline-wrapper {
  display: flex;
}

/* resize */
.bar-resize {
  position: relative;
}

.bar-resize::after {
  content: " ";
  position: absolute;
  cursor: col-resize;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  /* outline: 1px solid red; */
}

/* end resize */
.fc-timeline-table th,
.fc-timeline-table td {
  width: 32px;
  height: 32px;
}

.fc-timeline-table td {
  position: relative;
  z-index: 1;
}

.fc-timeline-table td[data-selected-cell] {
  z-index: 1;
}

.fc-timeline-table table,
.fc-timeline-table th,
.fc-timeline-table td,
.fc-resource-table table,
.fc-resource-table th,
.fc-resource-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.fc-resource-table {
  background-color: #f0f0f0;
  overflow-x: auto;
  width: 300px;
}

.fc-resource-table table {
  width: 100%;
  table-layout: fixed;
}

.fc-resource-table th,
.fc-resource-table td {
  width: 32px;
  height: 32px;
}


/* Time line table */
.fc-timeline-table {
  width: 100%;
  overflow-x: auto;
}

.fc-timeline-table>table {
  width: 100%;
  table-layout: fixed;
  overflow-x: auto;
  border-collapse: collapse;
}

.selected-cell {
  background: #cce5ff !important;
  border: 2px solid #3399ff !important;
}

/* selected row */
/* .fc-timeline-table td[data-selected] {
  border: 2px solid var(--primary-color);
  background-color: rgba(22, 119, 255, 0.1);
} */